<!DOCTYPE html>
<html class="page" lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if currentSection == "Section" or 
		currentSection == "subSection" or 
		currentSection == "addSection" or 
		currentSection == "addSubSection" or 
		currentSection == "listUser" or 
		currentSection == "addTests" or
		currentSection == "editorTests" or
		currentSection == "addQuestion" or 
		currentSection == "editQuestion"
		%}
			<link rel="stylesheet" href="../js/bootstrap-select/bootstrap.min.css">
			<link rel="stylesheet" href="../js/bootstrap-select/bootstrap-select.min.css">
		{% endif %}
		<link rel="stylesheet" href="../css/style.css">
		<title>{{ title }}</title>
	</head>
	<body class="page__body">
		<header class="header">
			<div class="header__wrapper">
				<nav class="header__nav">
					<a class="header__logo-link" href="admin.php">
						<h1 class="visually-hidden">ЭМКУ</h1>
						<picture>
							<source media="(min-width:768px)" srcset="../image/content/logo__desktop.svg">
							<img class="header__logo-image" src="../image/content/logo__mobile.svg" alt="Логотип ЭМКУ">
						</picture>
					</a>
					<ul class="header__user-list">
						<li class="header__user-item">
							<a class="header__link" href="../index.php">Вернуться на главную</a>
						</li>
						<li class="header__user-item">
							<a class="header__link" href="../logout.php">Выйти</a>
						</li>
					</ul>
					<div class="menu">
						<div class="menu__wrapper">
							<ul class="menu__user-list">
								<li class="menu__user-item">
									<button class="menu__button" type="button">
										<span class="visually-hidden">Закрыть меню</span>
									</button>
								</li>
								<li class="menu__user-item">
									<a class="menu__user-link" href="#">Вернуться на главную</a>
								</li>
								<li class="menu__user-item">
									<a class="menu__user-link" href="#">Выйти</a>
								</li>
							</ul>
							<ul class="menu__additional-list">
								<li class="menu__additional-item">
									{% set className = currentSection == "Discipline" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="disciplines.php">Дисциплины</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "Section" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="sections.php">Разделы</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "subSection" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="sub-sections.php">Подразделы</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "Group" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="group.php">Группы</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "userApproval" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="user-approval.php">Заявки на регистрацию</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "listUser" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="users.php">Пользователи</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "test" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="test-list.php">Тесты</a>
								</li>
								<li class="menu__additional-item">
									{% set className = currentSection == "editorTests" ?  "menu__additional-link--current": ""%}
									<a class="menu__additional-link {{className}}" href="question-list.php">Управление тестами</a>
								</li>
							</ul>
						</div>
					</div>
					<button class="header__toggle-button" type="button">
						<span class="visually-hidden">Открыть меню</span>
					</button>
				</nav>
			</div>
		</header>
		<main class="main page__main">
			<div class="main__wrapper">
				<section class="main__nav-section">
					<h2 class="visually-hidden">Навигация</h2>
					<nav class="main__navigation">
						<ul class="main__navigation-list">
							<li class="main__navigation-item">
								{% set className = currentSection == "Discipline" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="disciplines.php">Дисциплины</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "Section" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="sections.php">Разделы</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "subSection" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="sub-sections.php">Подразделы</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "Group" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="group.php">Группы</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "userApproval" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="user-approval.php">Заявки на регистрацию</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "listUser" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="users.php">Пользователи</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "test" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="test-list.php">Тесты</a>
							</li>
							<li class="main__navigation-item">
								{% set className = currentSection == "editorTests" ?  "main__navigation-link--current": ""%}
								<a class="main__navigation-link {{className}}" href="question-list.php">Управление тестами</a>
							</li>
						</ul>
					</nav>
				</section>
				{% block content %}{% endblock %}
			</div>
		</main>
		<footer class="footer">
			<div class="footer__wrapper">
				<section class="footer__contacts">
					<h2 class="footer__contacts-title">Контактные данные:</h2>
					<ul class="footer__contacts-list">
						<li class="footer__contacts-item">
							<address class="footer__address footer__address--mark">г. Кемерово, ул. Павленко 1А</address>
						</li>
						<li class="footer__contacts-item">
							<a class="footer__link footer__link--telephone" href="tel:73842570107">+7 (3842) 57-01-07</a>
						</li>
						<li class="footer__contacts-item">
							<a class="footer__link footer__link--mail" href="mailto:guospospt@yandex.ru">guospospt@yandex.ru</a>
						</li>
					</ul>
				</section>
				<section class="footer__social">
					<h2 class="visually-hidden">Социальные сети</h2>
					<ul class="footer__social-list">
						<li class="footer__social-item">
							<a class="footer__social-link footer__social-link--1C" href="https://1c.ru/">
								<span class="visually-hidden">Официальный сайт 1С</span>
							</a>
						</li>
						<li class="footer__social-item">
							<a class="footer__social-link footer__social-link--telegram" href="https://t.me/spt42">
								<span class="visually-hidden">СПТ42 телеграмм канал</span>
							</a>
						</li>
						<li class="footer__social-item">
							<a class="footer__social-link footer__social-link--VK" href="https://vk.com/spt42">
								<span class="visually-hidden">СПТ42 группа ВКонтакте</span>
							</a>
						</li>
					</ul>
				</section>
				<section class="footer__copyright">
					<h2 class="visually-hidden">Сибирский политехнический техникум</h2>
					<img class="footer__copyright-image" src="../image/content/spt42.jpg" alt="Сибирский политехнический техникум">
				</section>
			</div>
		</footer>
		{% if 
        currentSection == "Discipline" or 
        currentSection == "Section" or 
        currentSection == "subSection" or 
		currentSection == "test" or
		currentSection == "editorTests"
  		%}
			<script src="../js/delete.js"></script>
		{% endif %}

		{% if 
        currentSection == "Section" or 
        currentSection == "listUser" or 
        currentSection == "addSection" or 
		currentSection == "addTests" or
		currentSection == "editorTests" or
		currentSection == "addQuestion"
  		%}
			<script src="../js/bootstrap-select/jquery.min.js"></script>
			<script src="../js/bootstrap-select/bootstrap.bundle.min.js"></script>
			<script src="../js/bootstrap-select/bootstrap-select.min.js"></script>
		{% endif %}

		{% if  currentSection == "subSection" or currentSection == "addSubSection"%}
			<script src="../js/select.js"></script>
			<script src="../js/bootstrap-select/jquery.min.js"></script>
			<script src="../js/bootstrap-select/bootstrap.bundle.min.js"></script>
			<script src="../js/bootstrap-select/bootstrap-select.min.js"></script>
		{% endif %}

		{% if currentSection == "Group" %}
			<script src="../js/delete-group.js"></script>
		{% endif %}

		{% if currentSection == "userApproval" %}
			<script src="../js/user-approval.js"></script>
		{% endif %}

		{% if currentSection == "listUser" %}
			<script src="../js/control-user.js"></script>
		{% endif %}

		{% if currentSection == "addSubSection"%}
			<script src="../js/editor.js" type="module"></script>
			<script src="../js/editorJs/underline/dist/bundle.js"></script>
			<script src="../js/editorJs/footnotes/dist/bundle.js"></script>
			<script src="../js/editorJs/attaches/dist/bundle.js"></script>
		{% endif %}

		{% if currentSection == "subSectionEdit" %}
			<script src="../js/edit.js" type="module"></script>
			<script src="../js/editorJs/underline/dist/bundle.js"></script>
			<script src="../js/editorJs/footnotes/dist/bundle.js"></script>
			<script src="../js/editorJs/attaches/dist/bundle.js"></script>
		{% endif %}

		{% if currentSection == "addQuestion" or currentSection == "editQuestion" %}
			<script src="../js/questionEditor.js"></script>
		{% endif %}
		<script src="../js/menu.js"></script>
	</body>
</html>
