{% extends 'layout-admin.twig' %}

{% block content %}
	<div class="main__content">
		<section class="main__section">
			<h2 class="main__section-title">Список разделов:</h2>
			<form class="main__form" method="get" action="">
				<select class="selectpicker select select--padding" data-width="300px" data-live-search="true" data-size="5" title="Группы" name="discipline">
					{% for discipline in disciplines %}
						<option value="{{discipline.Id}}" {% if discipline.Id == currentIdDiscipline %} selected {% endif %}>{{discipline.Name}}</option>
					{% endfor %}
				</select>
				<button class="main__form-button" type="submit">Показать</button>
			</form>
			{% if sectionsSlice|length > 0 %}
				<ul class="main__section-list">
					{% for section in sectionsSlice %}
						<li class="main__section-item">
							<h3 class="main__title">{{section.Name}}</h3>
							<ul class="main__control-panel">
								<li class="main__panel-item" title="Изменить название">
									<a class="main__panel-button" href="rename.php?id={{section.Id}}&section=section">
										<svg class="main__panel-icon" width="29" height="29" role="img" aria-label="edit">
											<use xlink:href="../image/icons/sprite.svg#editIcon"></use>
										</svg>
										<span class="visually-hidden">Переименовать</span>
									</a>
								</li>
								{% if section.Status == 1 %}
									<li class="main__panel-item" title="Скрыть раздел">
									{% else %}
										<li class="main__panel-item" title="Показать раздел">
										{% endif %}
										<button class="main__panel-button main__panel-button--change" type="button" data-id="{{section.Id}}" data-status="{{section.Status}}" data-section="section">
											{% if section.Status == 1 %}
												<svg class="main__panel-icon" width="27" height="28" role="img" aria-label="hidden">
													<use xlink:href="../image/icons/sprite.svg#hiddenIcon"></use>
												</svg>
												<span class="visually-hidden">Скрыть</span>
											{% else %}
												<svg class="main__panel-icon" width="24" height="18" role="img" aria-label="show">
													<use xlink:href="../image/icons/sprite.svg#showIcon"></use>
												</svg>
												<span class="visually-hidden">Показать</span>
											{% endif %}
										</button>
									</li>
									<li class="main__panel-item" title="Удалить раздел">
										<button class="main__panel-button main__panel-button--delete" type="button" data-id="{{section.Id}}" data-section="sections">
											<svg class="main__panel-icon" width="28" height="28" role="img" aria-label="delete">
												<use xlink:href="../image/icons/sprite.svg#deleteIcon"></use>
											</svg>
											<span class="visually-hidden">Удалить</span>
										</button>
									</li>
								</ul>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p class="main__stub-text">Нет данных</p>
				{% endif %}
				{% set className = sections|length <= limit ? "pagintaion--none": ""%}
				<div class="pagintaion {{className}}">
					<ul class="pagination__list">
						{% for i in 1..pages %}
							<li class="pagination-item {{ i == page ? 'pagination-item--current' : '' }}">
								<a class="pagination-link" href="?page={{i}}&discipline={{currentIdDiscipline}}">{{i}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<a class="main__button" href="add-section.php">
					Добавить раздел
				</a>
			</section>
		</div>
	{% endblock %}
