{% extends 'layout-admin.twig' %}

{% block content %}
<div class="main__content">
    <section class="main__section">
        <h2 class="main__section-title">Добавить подраздел</h2>
        <form class="main__second-form" method="post">
            <div class="main__select-wrapper main__select-wrapper--flex">
                <div class="select unactive">
                <button class="select__button" role="combobox" aria-labelledby="select button" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown">
                    <span class="select__selected-value">Дисциплины</span>
                    <svg class="select__arrow" width="16" height="16" role="img" aria-label="select">
                    <use xlink:href="image/icons/sprite.svg#select-arrow"></use>
                    </svg>
                </button>
                <ul class="select__dropdown" role="listbox" id="select-dropdown">
                    {% for discipline in disciplines %}
                    <li role="select__option">
                    <input type="radio" id="{{discipline.Id}}" name="disciplines" value="{{discipline.Id}}"/>
                    <label for="{{discipline.Id}}">{{discipline.Name}}</label>
                    </li>
                    {% endfor %}
                </ul>
                </div>
                <div class="select unactive">
                <button class="select__button" role="combobox" aria-labelledby="select button" aria-haspopup="listbox" aria-expanded="false" aria-controls="select-dropdown">
                    <span class="select__selected-value select__selected-value--section">Разделы</span>
                    <svg class="select__arrow" width="16" height="16" role="img" aria-label="select">
                    <use xlink:href="image/icons/sprite.svg#select-arrow"></use>
                    </svg>
                </button>
                <ul class="select__dropdown select__dropdown--section" role="listbox" id="select-dropdown">
                    {% for section in sections %}
                    <li role="select__option">
                    <input type="radio" id="{{section.Id}}" name="sections" value="{{section.Id}}"/>
                    <label for="{{section.Id}}">{{section.Name}}</label>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        <input class="main__input" type="text" placeholder="Наименование">
        <div class="main__text" id="editor"></div>
        <div class="main__button-wrapper">
            <button class="main__form-button" type="submit">Добавить</button>
        </div>
        </form>
    </section>
</div>
{% endblock %}