{% extends 'layout-admin.twig' %}

{% block content %}
	<div class="main__content">
		<section class="main__section">
			<h2 class="main__section-title">Список тестов:</h2>
			<ul class="main__section-list">
				{% for test in testSlice %}
					<li class="main__section-item">
						<h3 class="main__title">{{ test.Name }}</h3>
						<ul class="main__control-panel">
							<li class="main__panel-item" title="Посмотреть результаты">
								<a class="main__panel-button" href="results.php?id={{test.Id}}">
									<svg class="main__panel-icon" width="22" height="26" role="img" aria-label="delete">
										<use xlink:href="../image/icons/sprite.svg#resultIcon"></use>
									</svg>
									<span class="visually-hidden">Посмотреть результаты</span>
								</a>
							</li>
							<li class="main__panel-item" title="Изменить название">
								<a class="main__panel-button" href="rename.php?id={{test.Id}}&section=test">
									<svg class="main__panel-icon" width="29" height="29" role="img" aria-label="edit">
										<use xlink:href="../image/icons/sprite.svg#editIcon"></use>
									</svg>
									<span class="visually-hidden">Переименовать</span>
								</a>
							</li>
							{% if test.Status == 1 %}
								<li class="main__panel-item" title="Скрыть тест">
								{% else %}
									<li class="main__panel-item" title="Показать тест">
									{% endif %}
									<a class="main__panel-button" href="?id={{test.Id}}&status={{test.Status}}">
										{% if test.Status == 1 %}
											<svg class="main__panel-icon" width="27" height="28" role="img" aria-label="hidden">
												<use xlink:href="../image/icons/sprite.svg#hiddenIcon"></use>
											</svg>
											<span class="visually-hidden">Скрыть</span>
										{% else %}
											<svg class="main__panel-icon" width="24" height="18" role="img" aria-label="show">
												<use xlink:href="../image/icons/sprite.svg#showIcon"></use>
											</svg>
											<span class="visually-hidden">Показать</span>
										{% endif %}
									</a>
								</li>
								<li class="main__panel-item" title="Удалить тест">
									<button class="main__panel-button main__panel-button--delete" type="button" data-id="{{test.Id}}" data-section="tests">
										<svg class="main__panel-icon" width="28" height="28" role="img" aria-label="delete">
											<use xlink:href="../image/icons/sprite.svg#deleteIcon"></use>
										</svg>
										<span class="visually-hidden">Удалить</span>
									</button>
								</li>
							</ul>
						</li>
					{% endfor %}
				</ul>
				{% set className = tests|length <= limit ? "pagintaion--none": ""%}
				<div class="pagintaion {{className}}">
					<ul class="pagination__list">
						{% for i in 1..pages %}
							<li class="pagination-item {{ i == page ? 'pagination-item--current' : '' }}">
								<a class="pagination-link" href="?page={{i}}">{{i}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<a class="main__button" type="button" href="add-tests.php">Добавить тест</a>
			</section>
		</div>
	{% endblock %}
